<section id="main" ng-submit="formSubmit()" ng-class="{contentHidden : menuVisible}">
	{{username}}
	<form class="col-lg-12">
		<fieldset class="col-lg-12">
			<label for="title" class="col-lg-12">Title</label>
			<input type="text" id="title" class="col-lg-6" ng-model="formData.name" required name="title" placeholder="Title of story">
		</fieldset>
		<fieldset class="col-lg-12">
			<label for="credits" class="col-lg-12">Credits</label>
			<input required type="text" id="credits" class="col-lg-6" ng-model="formData.credits" name="credits" placeholder="Credits of story">
		</fieldset>
		<fieldset class="col-lg-12">
			<label for="storyData" class="col-lg-12">Story</label>
			<textarea required name="storyData" id="storyData" class="col-lg-6" ng-model="formData.storyContent" rows="10" cols="30">
			</textarea>
		</fieldset>
		<fieldset class="col-lg-12">
			<input type="submit" id="uploadStory">
		</fieldset>

	</form>
</section>