<!doctype html>
<html ng-app="myApp">
	<head>
		<link rel="stylesheet/less" type="text/css" href="public/style/style.less">
		<script type="text/javascript" src="node_modules/less/dist/less.js"></script>

		<script type="text/javascript" src="node_modules/angular/angular.js"></script>
		<script type="text/javascript" src="node_modules/angular/angular-route.js"></script>
		<script type="text/javascript" src="public/js/factory.js"></script>
		<script type="text/javascript" src="public/js/controllers.js"></script>
		<script type="text/javascript" src="public/js/app.js"></script>
	</head>
	<body ng-controller="baseController">
		<header ng-init="menuVisible = false">
			<menuhead ng-click="toggleMenu;menuVisible = menuVisible? false: true">
				<svg width="40" height="40">
				   <rect x="0" y="0" width="40" height="8" style="fill:rgb(255,255,255); stroke-width:1;stroke:rgb(0,0,0)" />
					<rect x="0" y="14"width="40" height="8" style="fill:rgb(255,255,255);stroke-width:1;stroke:rgb(0,0,0)" />
					<rect x="0" y="28" width="40" height="8" style="fill:rgb(255,255,255);stroke-width:1;stroke:rgb(0,0,0)" />
				   Sorry, your browser does not support inline SVG.
				</svg>
			</menuhead>
			<header><h2>StoryBoard</h2></header>
			<menu ng-class="{menuvisible : menuVisible,menuhidden : !menuVisible}" >
				<ul>
					<li>Home</li>
					<li>About</li>
				</ul>
			</menu>
		</header>
		<!--<ul>
			<li ng-repeat="p in people">{{p.Name}}</li>
		</ul>-->
		<cover ng-class="{visibleCover : menuVisible}" ng-view>
			
		<cover>
	</body>
</html>